<nav class="header">
  <ul>
    <li><a href="/"> A Rox Partner</a></li>
    <li><a href="/"> Serviços </a></li>
    <li><a href="/blog"> Blog </a></li>
    <li><a href="/"> Contato </a></li>
  </ul>
</nav>

<style>
  nav {
    display:flex;
    width:100%;
    border-radius:5px;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  nav ul, 
  nav a {
    width:100%
  }


  nav ul  {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding:0 1rem
  }

  nav a {
    color: #666;
    text-decoration: none;
    font-size: .875rem
  }
  nav li + li {
    margin-left: 1rem
  }
</style>